
# AWS Access key
aws_access_key = ""

# Type of EC2 Instance to use
aws_client_instance_type = "t3.nano"

# Type of EC2 Instance to use
aws_master_instance_type = "t3.xlarge"

# AWS Region to deploy to
aws_region = "eu-north-1"

# AWS Secret key
aws_secret_key = ""

# Type of EC2 Instance to use
aws_worker_instance_type = "t3.xlarge"

# Install guestbook demo app into default namespace
install_guestbook = false

# Install kali-linux instance into default namespace
install_kali = false

# Install orders app for struts RCE demo, it also spins up a client VM to do the attacks from
install_orders = false

# The password for the default admin user login. Eight(8) characters or more, atleast 1 lowercase, 1 uppercase and 1 number
neuvector_admin_password = ""

# version of NeuVector chart to install
neuvector_chart_version = "102.0.3+up2.6.0"

# Number of NeuVector controllers to deploy
neuvector_controller_replicas = 1

# If installing on k8s < 1.25 set thit to true to enable psp functionallity
neuvector_enable_psp = false

# Number of NeuVector scanners to deploy
neuvector_scanners_replicas = 1

# Prefix added to all AWS resources (also used as cluster name)
prefix = "nv-demo"

# Access key to rancher management server
rancher_access_key = ""

# The Rancher API is using a self signed certificate
rancher_api_insecure = false

# URL to where cluster should register
rancher_api_url = "https://demo-hosted.rancher.cloud"

# Secret key to rancher management server
rancher_secret_key = ""

# Number of master nodes in cluster
rke2_master_node_count = 1

# rke2 Kubernetes version
rke2_version = "v1.26.8+rke2r1"

# Number of worker nodes in cluster
rke2_worker_node_count = 0
