
# AWS Access key
aws_access_key = ""

# Type of EC2 Instance to use
aws_master_instance_type = "t3.xlarge"

# AWS Region to deploy to
aws_region = "eu-north-1"

# AWS Secret key
aws_secret_key = ""

# Type of EC2 Instance to use
aws_worker_instance_type = "t3.xlarge"

# Install guestbook demo app into default namespace
install_guestbook = false

# Install kali-linux instance into default namespace
install_kali = false

# The password for the default admin user login
neuvector_admin_password = ""

# version of NeuVector chart to install
neuvector_chart_version = "100.0.2+up2.2.3"

# Number of NeuVector controllers to deploy
neuvector_controller_replicas = 1

# Number of NeuVector scanners to deploy
neuvector_scanners_replicas = 1

# Prefix added to all AWS resources (also used as cluster name)
prefix = "nv-demo"

# Access key to rancher management server
rancher_access_key = ""

# The Rancher API is using a self signed certificate
rancher_api_insecure = false

# URL to where cluster should register
rancher_api_url = "https://demo-hosted.rancher.cloud"

# Secret key to rancher management server
rancher_secret_key = ""

# Number of master nodes in cluster
rke2_master_node_count = 1

# rke2 Kubernetes version
rke2_version = "v1.24.9+rke2r1"

# Number of worker nodes in cluster
rke2_worker_node_count = 0
